<!doctype html>
<html>
  <head>
  <title>
    Recap
  </title>
    <link rel='shortcut icon' href='favicon.ico' />
    <link rel="icon" href="favicon.ico" />
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Chewy" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  </head>
  <body> 
    <div id="title-container">
      <div id="title">
        Recap
      </div>
    </div>
    <div id="form-container">
      <form action="/add" method="post">
        <div id="outer">
           <div id="summary-content">
            <ul>
              <% for(i=0;i < (summary.length-1);i++){ %>
                <% var msgObj = summary[i]; %>
                  <li><%= msgObj %></li>
                <% } %>
            </ul>
             </br>
             <% if(parseInt(reduced) > 0){ %>
               <div class="indent">
                 This summary reduced the article by <%= reduced %>.
               </div>
             <% } %>
             </br>
             <div class="indent">
               Top Keywords: <%= keywords %>
             </div>
            </div>
          </div>     
      </div>
    </form>
  </body>
</html>